# Ignore log files
*.log

# Ignore build directory
/target/

# Ignore OS files
.DS_Store
Thumbs.db
.vscode
/spark
*Extent.html
.github/
reports/

# Ignore specific file
# Ignore environment variable files